{% extends 'admin_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">STUDENTS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>SI NO</th>
                            <th>NAME</th>
                            <th>AGE</th>
                            <th>PHONE_NO</th>
                             <th>IMAGE</th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{i.name}}</td>
                          <td>{{i.age}}</td>
                          <td>{{i.phone_no}}</td>
                           <td><img src="{{i.image.url}}"></td>


<!--                           <td><img src="{{i.stud_image.url}}"></td>-->

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}