{% extends 'student_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">MARKS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>SI NO</th>
                          <th>STUDENT NAME</th>

                            <th>ENGLISH</th>
                            <th>MATHS</th>
                            <th>CHEMISTRY</th>
                          <th>PHYSICS</th>
                          <th>TOTAL MARK</th>
                          <th>GAINED MARK</th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{i.name}}</td>

                          <td>{{i.english}}</td>

                          <td>{{i.maths}}</td>
                          <td>{{i.chemistry}}</td>
                            <td>{{i.physics}}</td>
                          <td>{{i.totalmark}}</td>
                             <td>{{i.total}}</td>

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>
  {% endblock %}